env: ephemeral

# domainName: [dynamic]
ingressClass: nginx-ingress
certIssuer: letsencrypt
# certSecret: [dynamic]

hpa_enabled: false
replicas: 1

# labels.app: [dynamic]

image:
  repository: 966326147313.dkr.ecr.us-west-2.amazonaws.com/dr-test-app
  tag: latest

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi

port: "9090"

envConfig:
  ENVIRONMENT: ephemeral
