apiVersion: v1
kind: Service
metadata:
  name: "{{ .Release.Name }}"
spec:
  type: NodePort
  selector:
    {{ toYaml .Values.labels | indent 4 }}
  ports:
    - protocol: TCP
      port: {{ .Values.port }}
