# Ingress
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "{{ .Release.Name }}"
  annotations:
    kubernetes.io/ingress.class: "{{ .Values.ingressClass }}"
    cert-manager.io/cluster-issuer: "{{ .Values.certIssuer }}"
spec:
  tls:
  - hosts:
# -    - "{{ .Values.domainName }}"
    - "{{ .Values.newDomainName }}"
    secretName: "{{ .Values.certSecret }}"
  rules:
# -  - host: "{{ .Values.domainName }}"
# -    http:
# -      paths:
# -      - path: /
# -        backend:
# -          serviceName: {{ .Release.Name }}
# -          servicePort: 9090
   - host: "{{ .Values.newDomainName }}"
     http:
       paths:
       - path: /
         backend:
           serviceName: {{ .Release.Name }}
           servicePort: 9090
