# Ingress
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "{{ .Release.Name }}"
  annotations:
    external-dns.alpha.kubernetes.io/hostname: "{{ .Values.domainName }}"
    kubernetes.io/ingress.class: "{{ .Values.ingressClass }}"
    cert-manager.io/cluster-issuer: "{{ .Values.certIssuer }}"
spec:
  tls:
  - hosts:
    - "{{ .Values.domainName }}"
    {{- range .Values.frontend }}
    - "{{ . }}"
    {{- end }}
    secretName: "{{ .Values.certSecret }}"
  rules:
  - host: "{{ .Values.domainName }}"
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ .Release.Name }}
          servicePort: 9090
  {{ $releaseName := .Release.Name }}
  {{- range .Values.frontend }}
  - host: "{{ . }}"
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ $releaseName }}
          servicePort: 9090
   {{- end }}