version: au/v1
build:
  docker:
    dockerfile: Dockerfile
    registry:
      url: 966326147313.dkr.ecr.us-west-2.amazonaws.com
      repo: dr-test-app
deploy:
  helm:
    release: dr-test-app
    ephemeral:
      chart:
        path: deploy/charts/dr-test-app
        values:
          - deploy/ephemeral/dr-test-app.values.yaml
        secrets:
          - deploy/ephemeral/dr-test-app.secrets.sops.yaml
    staging:
      namespace: dr-test-app
      chart:
        path: deploy/charts/dr-test-app
        values:
          - deploy/staging/dr-test-app.values.yaml
    prod:
      namespace: dr-test-app
      newrelicAppId: 873598955
      chart:
        path: deploy/charts/dr-test-app
        values:
          - deploy/production/dr-test-app.values.yaml
